main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#view-container{
  margin-top: 20px;
  background-color: #8C0000;
  width:500px;
  border-radius: 20px;
  padding-bottom: 10px;
}
#view-container ul li{
  color: #FFF2F1;
}
ul{
  list-style-type: none;
}
#view-options-container{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-around;
}

.view-options{
  color: #FFF2F1;
  text-decoration: none;
}

.view-options:link{
  color: #FFF2F1;
  text-decoration: none;
}

.view-options:visited{
  color: #FFF2F1;
  text-decoration: none;
}

.view-options:hover{
  color: #FFF2F1;
  text-decoration: underline;
}
